# Automatically enter the Nix development environment when entering this directory
# 
# This file works with direnv (https://direnv.net/)
# Install direnv and run `direnv allow` to automatically activate the environment
#
# For users with Nix flakes enabled:
use flake

# For users with traditional Nix:
# use nix